.city-carousel {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url("../../assets/images/page 4/dealer-carousel-bg.webp") no-repeat center center/cover;
    overflow: hidden;

    &__item {
        // Bootstrap handles visibility and sliding
        // We just ensure images fit nicely
        img {
            object-fit: contain; // Keeps the image aspect ratio
            width: 100%;
            height: 100%;
        }
    }

    // Optional: Style indicators if needed
    .carousel-indicators {
        button {
            width: 20px;
            height: 3px;
            background-color: rgb(46, 37, 37, 0.5);
        }
    }

    .carousel-control-prev,
    .carousel-control-next {
        background-color: rgba(0, 0, 0, 0.5);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.8;
       
    }

    .carousel-control-prev { left: 20px; }
    .carousel-control-next { right: 20px; }
}
