@use "../abstracts" as *;

.city-carousel {
  width: 100%;
  position: relative;
  background: url("../../assets/images/page 4/dealer-carousel-bg.webp")
    no-repeat center center/cover;
  overflow: hidden;

  &__item {
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  .carousel-indicators {
    button {
      width: 20px;
      height: 3px;
      background-color: rgba($gray-brown, 0.5);
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    background-color: $black-shadow-50;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.8;
  }

  .carousel-control-prev {
    left: 20px;
  }
  .carousel-control-next {
    right: 20px;
  }
}
