@use "../abstracts" as *;
@use "../base" as *;

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &--wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &-tag {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: absolute;
    top: 445px;
    right: 395px;
    left: 105px;
    bottom: 45px;
    width: 780px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;

    &--text {
      font-family: $font-sequel;
      font-size: 30px;
      font-weight: 400;
      color: $white-primary;
      width: 100%;
    }

    &--cta {
      font-family: $font-sequel;
      font-size: 16px;
      font-weight: 200;
      letter-spacing: 0.16px;
      margin-top: 28px;
      width: 100%;
      display: block;
      color: $white-primary;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $white-primary;
    width: 50%;
    padding: 8px 20px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;

    &--text {
      font-size: 14px;
      font-weight: 300;
      color: $white-primary;
      font-family: $font-roboto;
    }

    &--icon {
      font-size: 20px;
      fill: $white-primary;
    }
  }

  &__controls {
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__volume {
    position: relative;
    cursor: pointer;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &-svg {
        width: 100%;
        height: 100%;

        path {
          stroke: $white-primary;
          stroke-width: 1;
        }
      }
    }
  }
}
