@use "../abstracts" as *;
@use "../base" as *;

.heritage-timeline {
  padding: 40px 0 0 0;
  background-color: $white-primary;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &__header {
    margin-bottom: 40px;
  }

  &__subtitle {
    font-size: 0.75rem;
    font-weight: 400;
    color: $black-primary;
    letter-spacing: 2.5px;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    padding-bottom: 8px;
    text-transform: uppercase;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $black-shadow-30;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 400;
    color: $black-primary;
    margin-top: 30px;
    padding-left: 3rem;
    letter-spacing: -0.5px;
  }
}

.heritageSwiper {
  width: 92%;
  padding-top: 50px;
  .swiper-slide {
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include transition(all, 0.6s);
    position: relative;

    &-active {
      z-index: 10;
      .heritage-card {
        transform: scale(1);
      }
    }
  }
}

.heritage-card {
  height: 200px;
  width: 300px;
  background: transparent;
  overflow: visible;
  position: relative;
  @include transition(transform, 0.6s);
  transform: scale(0.7);
  cursor:
    url("data:image/svg+xml,%3Csvg width='116' height='64' viewBox='0 0 116 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='26.5' y='0.5' width='63' height='63' rx='31.5' fill='white' fill-opacity='0.5' stroke='%238D8D8D'/%3E%3Crect x='56' y='30' width='4' height='4' rx='2' fill='%23161616'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M110.375 32L104.75 37.625L103.962 36.8375L108.8 32L103.962 27.1625L104.75 26.375L110.375 32Z' fill='%238D8D8D'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.625 32L11.25 26.375L12.0375 27.1625L7.2 32L12.0375 36.8375L11.25 37.625L5.625 32Z' fill='%238D8D8D'/%3E%3C/svg%3E%0A"),
    auto;

  &__year-label {
    font-size: 1.5rem;
    font-weight: 700;
    color: $black-primary;
    font-family: $font-sequel;
    position: absolute;
    top: -25px;
    right: 5px;
    z-index: 10;
    line-height: 1;
    pointer-events: none;
  }

  &__image {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    .img-fluid {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include transition(filter, 0.6s);
    }
  }

  &__pill {
    position: absolute;
    top: 20px;
    left: 20px;
    background: rgba($gray-charcoal, 0.7);
    display: flex;
    align-items: center;
    padding: 8px 18px;
    border-radius: 50px;
    z-index: 2;
    backdrop-filter: blur(4px);

    &-plus {
      color: $white-primary;
      font-size: 0.9rem;
      font-weight: 400;
      margin-right: 8px;
    }

    &-text {
      color: $white-primary;
      font-size: 0.75rem;
      font-weight: 600;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      white-space: nowrap;
    }
  }
}

.heritage-timeline__ruler-wrapper {
  position: absolute;
  bottom: 0px;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  background: $white-primary;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

.heritage-timeline__ruler-track {
  width: 100%;
  padding-bottom: 20px;
}

.heritage-timeline__ruler-group {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

.heritage-timeline__ruler-tick {
  width: 1px;
  height: 8px;
  background-color: $black-primary;
  flex-shrink: 0;

  &.tick-md {
    height: 15px;
  }

  &.tick-lg {
    height: 22px;
  }
}
