@use "../abstracts" as *;
@use "../base" as *;

.photo__carousel {
  position: relative;
  width: 100%;

  &--welcome {
    font-family: $font-sequel;
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 60px;
  }

  &--logo {
    width: 160px;
    height: 40px;
    position: absolute;
    margin-top: 100px;
    left: 50%;
    transform: translateX(-50%);
    & > img {
      width: 100%;
      object-fit: contain;
    }
  }

  &--text {
    width: 100%;
    height: 200px;
    @include center;
    position: absolute;
    top: 150px;
    perspective: 1000px;
  }

  &--heading {
    font-family: $font-sequel;
    font-size: 40px;
    position: absolute;
    @include transition(transform, 1.2s);
    @include transition(opacity, 1s);
    opacity: 1;
    transform: translateY(0);

    .showing-subheading & {
      opacity: 0;
      transform: translateY(-100px);
      pointer-events: none;
    }
  }

  &--subheading {
    font-family: $font-inter;
    height: fit-content;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    @include transition(transform, 1.2s);
    @include transition(opacity, 1s);
    opacity: 0;
    transform: translateY(100px);

    .showing-subheading & {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &--images {
    width: 100%;
    position: absolute;
    bottom: 30px;
    overflow: hidden;
  }

  &--track {
    display: flex;
    width: fit-content;
    gap: 15px;
    animation: scroll 30s linear infinite;
  }

  &--image-wrapper {
    height: 220px;
    width: 220px;
    flex-shrink: 0;
    display: flex;
    align-items: end;

    & > img {
      height: auto;
      width: 100%;
      object-fit: cover;
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 20px));
  }
}
