@use '../abstracts' as *;
@use "../base" as *;

.photo__carousel {
    position: relative;
    width: 100%;

    &--welcome {
        font-family: $font-display ;
        font-size: 20px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);    
        margin-top: 60px;
    }

    &--logo {
        width: 160px;
        height: 40px;
        position: absolute;
        margin-top: 100px;
        left: 50%;
        transform: translateX(-50%); 
        &>img {
            width: 100%;
            object-fit: contain;
        }
    }

    &--text {
        width: 100%;
        height: 200px;
        @include center;
        position: absolute;
        top: 150px;

    }
    &--heading {
        font-family: $font-display ;
        font-size: 40px;
        // display: none;
        // opacity: 0;
        // visibility: hidden;
        // transform: translateY(100px);
        // transition: 1.4s cubic-bezier(0.57, 0, 0.14, 1);
    }

    &--subheading {
        font-family: $font-primary;
        height: fit-content;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
        opacity: 0;
        visibility: hidden;
        transform: translateY(100px);
        transition: 1.4s cubic-bezier(0.57, 0, 0.14, 1);
    }

    &--images {
        width: 100%;
        position: absolute;
        bottom: 30px;
        overflow: hidden;
    }

    &--track {
        display: flex;
        width: fit-content;
        gap: 15px;
        animation: scroll 30s linear infinite;
    }

    &--image-wrapper {
        height: 220px;
        width: 220px;
        flex-shrink: 0;
        display: flex;
        align-items: end;

        &>img {
            height: auto;
            width: 100%;
            object-fit: cover;
        }
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-50% - 20px));
    }
}

