@use "../abstracts" as *;
@use "../base" as *;

.footer {
    background-color: $footer-bg;
    color: $white-primary;
    padding: 30px 5% 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: $font-display;
    scroll-snap-align: end;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 20px;

        &--logo img {
            width: 160px;
        }

        &--right {
            &_title {
                font-family: $font-display;
                font-size: 24px;
                margin-bottom: 25px;
                color: $footer-text;
            }

            .footer__forms {
                display: flex;
                gap: 15px;
                flex-wrap: wrap;

                input {
                    background: $black-dark;
                    border: 1px solid $white-10;
                    padding: 0 20px;
                    height: 50px;
                    width: 300px;
                    color: $white-primary;
                    outline: none;
                    
                    &::placeholder {
                        font-family: $font-primary;
                        color: $white-30;
                    }
                }

                .footer__btn {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border: 1px solid $white-primary;
                    padding: 0 25px;
                    height: 50px;
                    background: transparent;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    gap: 15px;


                    &--text {
                        font-family: $font-primary;
                        font-size: 14px;
                        font-weight: 400;
                        letter-spacing: 1px;
                        color: inherit;
                    }

                    &--icon {
                        display: flex;
                        align-items: center;
                        svg path {
                            stroke: $white-primary;
                            transition: stroke 0.3s ease;
                        }
                    }
                }
            }

            .footer__checkbox {
                margin-top: 20px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: $white-30;
                font-size: 14px;

                input {
                    width: 16px;
                    height: 16px;
                    cursor: pointer;
                    accent-color: $white-primary;
                }

                p {
                    margin: 0;
                    font-family: $font-primary;
                    font-size: 14px;
                }

                a {
                    color: inherit;
                    text-decoration: underline;
                    font-family: $font-primary;
                    font-size: 14px;
                }
            }
        }
    }

    &__middle {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        flex-wrap: wrap;
        gap: 30px;

        &--title {
            font-size: 24px;
            color: $footer-text;
            margin-bottom: 10px;
            font-family: $font-primary;
        }

        &>div {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-bottom: 2%;
            min-width: 200px;
        }

        &--link {
            text-decoration: none;
            color: $footer-text;
            font-size: 16px;
            letter-spacing: 1px;
            font-family: $font-roboto;
            transition: color 0.3s;
            line-height: 1.5;
            font-weight: 3  00;
        }
    }

    &__bottom {
        border-top: 1px solid $white-10;
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        gap: 20px;

        &--left {
            display: flex;
            gap: 40px;
            color: $white-30;
            font-size: 13px;
            font-family: $font-primary;
            font-weight: 400;
            flex-wrap: wrap;

            a {
                text-decoration: none;
                color: inherit ;
                transition: color 0.3s ease;

            }
        }

        &--right {
            display: flex;
            gap: 25px;
            align-items: center;

            a {
                display: flex;
                align-items: center;
                opacity: 0.6;
                transition: opacity 0.3s ease;
                color: $footer-text;

                svg {
                    width: 17px;
                    height: 17px;
                    fill: currentColor;
                }
            }
        }
    }
}
