.pagination {
  position: fixed;
  bottom: 20px;
  right: 40px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 1000;
  a {
    text-decoration: none;
  }
  &__page {
    width: 3px;
    height: 25px;
    background-color: #9b9999;
    opacity: 0.5;
    transition: all 0.3s ease;

    &.active {
      background-color: #fff;
      opacity: 1;
    }
  }
}