*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    height: 100%;
  
    &::-webkit-scrollbar {
        display: none; 
    }
}


html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.hide {
    display: none !important;
}

button {
    all: unset;
}