*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    height: 100%;
  
    &::-webkit-scrollbar {
        display: none; 
    }
}

// scroll efffect
.wrapper {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;  
}

.section {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.hide {
    display: none !important;
}

button {
    all: unset;
}