@use "../abstracts" as *;

@font-face {
  font-family: "Sequel";
  src: url("/assets/fonts/sequel.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/roboto.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}


$font-primary: 'Inter', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-display: 'Sequel', sans-serif;

body {
  font-family: $font-primary;
  color: $black-primary;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-display;
}
