@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin absolute-inset {
  position: absolute;
  inset: 0;
}


@mixin transition($prop: all, $time: 1s) {
  transition: $prop $time cubic-bezier(0.4, 0, 0.2, 1);
}
