$black-primary:        rgb(0, 0, 0);          
$white-primary:        rgb(255, 255, 255);    

$white-05:    rgba(255, 255, 255, .05);
$white-10:    rgba(255, 255, 255, .1);
$white-15:    rgba(255, 255, 255, .15);
$white-30:    rgba(255, 255, 255, .3);

$footer-bg: #1e1e20;
$footer-text:    #787879;

$black-dark:        rgb(30, 30, 30);       
$black-shadow-30:   rgba(0, 0, 0, .3);
