$black-primary:        rgb(0, 0, 0);          
$white-primary:        rgb(255, 255, 255);    

$link-blue:            rgb(0, 0, 238);        
$slate-muted:          rgb(74, 84, 100);      

$accent-sky:           rgb(0, 178, 255);      
$white-overlay-05:    rgba(255, 255, 255, .05);
$white-overlay-10:    rgba(255, 255, 255, .1);
$white-overlay-15:    rgba(255, 255, 255, .15);
$white-overlay-25:    rgba(255, 255, 255, .25); 
$white-overlay-30:    rgba(255, 255, 255, .3);
$white-overlay-80:    rgba(255, 255, 255, .8);

$black-dark:        rgb(30, 30, 30);       
$black-overlay-30:  rgba(16, 16, 16, .3);  
$black-overlay-40:  rgba(0, 0, 0, .4);
$black-shadow-30:   rgba(0, 0, 0, .3);

$black-warm:       rgb(11, 9, 6);         
$graphite:             rgb(25, 25, 25);       

$gray-disabled:        rgb(120, 120, 121);    
$linen-light:          rgb(244, 240, 238);    
